.navbar {
  display: flex;

  justify-content: space-between;
  background-color: black;
}

.navbar-title {
  color: white;
  font-size: larger;
  font-weight: 800;
}

input {
  margin: 10px;
  text-align: left;
}
